/*
.container{
	display:grid;
	grid-template-columns: 1fr;
	
}
*/
.header{	
   display: grid;
   grid-template-columns: 1fr 4fr 1fr;
}

.header-entete{
	
	grid-column-start: 1; 
	grid-column-end: 4;
	grid-row-start: 1; 
	grid-row-end: 2;
	display: grid;
    grid-template-columns: 1fr 4fr 1fr;
	z-index: 3;
}

.header .header-entete .header-align{
	grid-column-start: 2; 
	grid-column-end: 3;
	display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.header .header-row-strong-number{
	color:#d34836;
}

.header .header-entete .header-align .header-row-col-1 .couleur{
	padding:8% 2%  7%  25% ;
	font:Bold 0.8em Arial;
	background:#d34836;
	color:#fff;
	width:100%;
	border-radius:0.5em;
	border:none;
	margin-left:-30%;
	margin-top:7%;
}

.header .header-entete .header-align .header-row-col-7 .couleur{
	padding:8% 2%  7%  25% ;
	font:Bold 0.8em Arial;
	background:#d34836;
	color:#fff;
	width:100%;
	border-radius:0.5em;
	border:none;
	margin-top:7%;
}

.header-image{
	grid-column-start: 1; 
	grid-column-end: 4;
	grid-row-start: 1; 
    grid-row-end: 3;
	margin-top: 7%;
}
.header-image .section-row-imageslide{
	grid-column-start: 1; 
	grid-column-end: 4; 
	height: 100% ;
	width : 100% ;
	z-index: 1;
}
.header .header-row-menu{
	grid-column-start: 1; 
	grid-column-end: 4;
	display:grid;
	grid-template-columns: 1fr 4fr 1fr;
	background-color: black ;
	opacity: 0.5;
	grid-row-start: 1; 
    grid-row-end: 2;
	margin-top: 7%;
	z-index: 2;
}
.header .header-row-menu .nav-header{
	grid-column-start: 2; 
	grid-column-end: 3;
	display:grid;
	grid-template-columns: 1fr 1fr 2fr;
}
#menu2{
	grid-column-start: 1; 
	grid-column-end: 3;
	padding:0;
	text-align:left;
	margin-top:3%;
	padding:0;
}

#menu2 li{
	list-style-type:none;
	float: left;
	position: relative;
	margin:2%;
	padding:0;
}

#menu2 li a{
	text-decoration:none;
	color:white;
}
#menu2 ul{
	position: absolute;
	visibility:visible;
	margin-top:28%;
	background-color:black;
	text-align:left;
}

 /*display bloc*/
 #menu1{
	grid-column-start: 3; 
	grid-column-end: 4;
	list-style-type:none;
	text-align:right;
	margin-top:4%;
	padding:0;
}
#menu1 .menuprincipale {
	float: right;
	 margin:1%;
	 padding:0;
	 background-color:black;
 }
 #menu1 li a { 
	 color:white;
	 text-decoration:none;
 }
/*
#menu2{
	grid-column-start: 1; 
	grid-column-end: 3;
	list-style-type:none;
	text-align:left;
	margin-top:3%;
	padding:0;
}
#menu2 .menuprincipale {
	float: left;
	 margin:2%;
	 padding:0;
	 background-color:black;
 }
 
 #menu2 li a {
	 color:white;
	 text-decoration:none;
 }
*/
.header .header-row-texte{
	grid-column-start: 1; 
	grid-column-end: 4;
	display:grid;
	grid-template-columns: 1fr 4fr 1fr;
	z-index:3;
}
.header .header-row-texte{
	grid-column-start: 2; 
	grid-column-end: 4;
	margin-top:-8%;
	font-size: 1.0em;
	color: white;
	width:100%;
}
/*mise en forme de la deuxieme section*/


.sectiondeux{
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
}
.sectiondeux-p-titre{
	grid-column-start: 2; 
	grid-column-end: 4;
}

.sectiondeux .sectiondeux-p-titre .sectiondeux-p-titre-premiertitre{
	color:black;
}
.sectiondeux .sectiondeux-p-titre .sectiondeux-p-titre-ligne{
	width: 5%;
	background-color: rgb( 130, 0, 0 );
	height: 2%;
	margin-left:0%;
}

.sectiondeux .sectiondeux-p-titre .sectiondeux-p-titre-premiertitre{
	font-size: 1.3em;
}

.sectiondeux-premierarticle{
	grid-column-start: 2; 
	grid-column-end: 3;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 2%;
}
.sectiondeux-premierarticle .sectiondeux-premierarticle-div{
	grid-column-start: 1; 
	grid-column-end: 2;
	grid-row-start: 2; 
    grid-row-end: 3;
}
.sectiondeux-premierarticle .sectiondeux-premierarticle-div .sectiondeux-premierarticle-div-paritlq{
	text-align:justify;	
	font-style:italic;
}
.sectiondeux-premierarticle .sectiondeux-premierarticle-div .sectiondeux-premierarticle-div-par{
	text-align:justify;	
}
.sectiondeux-premierarticle .sectiondeux-premierarticle-div .sectiondeux-premierarticle-div-parttle{
	text-align:justify;	
	color:rgb( 130, 0, 0 );
}
.sectiondeux-premierarticle .section-row-imgarticle{
	grid-column-start: 2; 
	grid-column-end: 3;
	width: auto;
	height: auto;
	grid-row-start: 2; 
    grid-row-end: 3;
}

/*mise en forme de la troisième section*/
.sectiontrois{
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
}
.sectiontrois hr{
	width: 10%;
	background-color: rgb( 130, 0, 0 );
	height: 1%;
	
}
.sectiontrois .sectiontrois-div-bloctotal .sectiontrois-div-bien{
	width: 100%;
	height: 50%;
}
.sectiontrois .sectiontrois-div-bloctotal{
	grid-column-start: 2; 
	grid-column-end: 3;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.sectiontrois .sectiontrois-div-bloctotal .sectiontrois-div-bien{
	z-index:1;
}
.sectiontrois .sectiontrois-div-bloctotal .sectiontrois-div-blocun .sectiontrois-div-cle{
	padding-left:35%;
	padding-right:20%;
	z-index:2;
	margin-top:-12%
}
.sectiontrois .sectiontrois-div-bloctotal .sectiontrois-div-blocdeux .sectiontrois-div-slt{
	padding-left:35%;
	padding-right:20%;
	z-index:2;
	margin-top:-12%
}
.sectiontrois .sectiontrois-div-bloctotal .sectiontrois-div-bloctrois .sectiontrois-div-dem{
	padding-left:35%;
	padding-right:20%;
	z-index:2;
	margin-top:-12%
}
.sectiontrois .sectiontrois-div-bloctotal p{
	text-align:center;
}

/*mise en forme du pied de page*/

.footer{
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
}
.footer hr{
	width: 10%;
	background-color: rgb( 130, 0, 0 );
	height: 1%;
	margin-left:0%;
	position: relative;
}
.footer .footer-row-un{
	grid-column-start: 1; 
	grid-column-end: 4;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	background-color:rgb( 225, 225, 225 );
	
}
.footer .footer-row-un .footer-row-premdepieddepage{
	grid-column-start: 2; 
	grid-column-end: 3;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}
.footer .footer-row-un .footer-row-premdepieddepage .footer-row-un-col-1{
	grid-column-start: 1; 
	grid-column-end: 3;
	margin-right: 10%;
}

.footer .footer-row-un .footer-row-premdepieddepage .footer-row-un-col-2{
	grid-column-start: 3; 
	grid-column-end: 4;
}
.footer .footer-row-un .footer-row-premdepieddepage .footer-row-un-col-2 .footer-row-un-col-2-dekra{
	margin-bottom: 10%;	
}
.footer .footer-row-un p{
	text-align:left;
}
.footer .footer-row-un .footer-row-premdepieddepage .footer-row-un-p{
	text-align:justify;
}

/**/
.footer .footer-row-deux{
	grid-column-start: 1; 
	grid-column-end: 4;
	display:grid;
	grid-template-columns: 1fr 4fr 1fr;
	background-color: rgb( 130, 0, 0 );
}

.footer .footer-row-deux .footer-row-deux-souspieddepage{
	grid-column-start: 2; 
	grid-column-end: 3;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-top:2%;
}
/*.footer .footer-row-deux .footer-row-deux-col-1 .footer-row-deux-col-1-imgcont{
	grid-column-start: 1; 
	grid-column-end: 2;
	grid-row-start: 1; 
	grid-row-end: 2;
}
.footer .footer-row-deux .footer-row-deux-col-1 .footer-row-texte-deux-col-1{
	grid-column-start: 1; 
	grid-column-end: 2;
	grid-row-start: 1; 
	grid-row-end: 2;
}*/
.footer .footer-row-deux p{
	color:white;
}
.footer .footer-row-deux .footer-row-deux-col-1{
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 0%;
}
.footer .footer-row-deux .footer-row-deux-col-2{
	display:grid;
	grid-template-columns: repeat(2, 1fr);
}
.footer .footer-row-deux .footer-row-deux-col-3{
	display:grid;
	grid-template-columns: repeat(2, 1fr);
}
/**/
.footer .footer-row-trois{
	grid-column-start: 1; 
	grid-column-end: 4;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	color:white;
	background-color: black;
}
.footer .footer-row-trois .footer-row-pieddepage{
	grid-column-start: 2; 
	grid-column-end: 3;
	display:grid;
	grid-template-columns: 1fr 6fr 1fr;
}
.footer .footer-row-trois .footer-row-pieddepage .footer-row-trois-cprgth{
	grid-column-start: 1; 
	grid-column-end: 3;
}
.footer .footer-row-trois .footer-row-pieddepage .footer-row-trois-arobiz{
	grid-column-start: 3; 
	grid-column-end: 4;
}


