/*
.container{
	display:grid;
	grid-template-columns: 1fr;
	
}
*/
.header{	
   display: grid;
   grid-template-columns: 1fr 4fr 1fr;
}

.header-entete{
	
	grid-column-start: 1; 
	grid-column-end: 4;
	grid-row-start: 1; 
	grid-row-end: 2;
	display: grid;
    grid-template-columns: 1fr 4fr 1fr;
	z-index: 3;
}

.header .header-entete .header-align{
	grid-column-start: 2; 
	grid-column-end: 3;
	display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.header-image{
	grid-column-start: 1; 
	grid-column-end: 4;
	grid-row-start: 1; 
    grid-row-end: 3;
	margin-top: 7%;
}
.header-image .section-row-imageslide{
	grid-column-start: 1; 
	grid-column-end: 4; 
	height: 100% ;
	width : 100% ;
	z-index: 1;
}
.header .header-row-menu{
	
	grid-column-start: 1; 
	grid-column-end: 4;
	display:grid;
	grid-template-columns: 1fr 4fr 1fr;
	background-color: black ;
	opacity: 0.5;
	grid-row-start: 1; 
    grid-row-end: 2;
	margin-top: 7%;
	z-index: 2;
}
.header .header-row-menu .nav-header{
	grid-column-start: 2; 
	grid-column-end: 3;
	display:grid;
	grid-template-columns: repeat(2, 1fr);
}
.header .header-row-menu .nav-header .ul-headerleft{
	grid-column-start: 1; 
	grid-column-end: 2;	
	list-style-type: none;
}
.header .header-row-menu .nav-header .ul-headerrigth{
	grid-column-start: 2; 
	grid-column-end: 3;
}
/*mise en forme de la deuxieme section*/


.sectiondeux{
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
}
.sectiondeux-p-titre{
	grid-column-start: 2; 
	grid-column-end: 4;
}

.sectiondeux-premierarticle{
	grid-column-start: 2; 
	grid-column-end: 3;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.sectiondeux-premierarticle .sectiondeux-premierarticle-div{
	grid-column-start: 1; 
	grid-column-end: 2;
	grid-row-start: 2; 
    grid-row-end: 3;
}
.sectiondeux-premierarticle .section-row-imageslide{
	grid-column-start: 2; 
	grid-column-end: 3;
	width: auto;
	height: auto;
	grid-row-start: 2; 
    grid-row-end: 3;
}

/*mise en forme de la troisième section*/
.sectiontrois{
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
}
.sectiontrois hr{
	width: 10%;
	background-color: rgb( 130, 0, 0 );
	height: 1%;
	position: relative;
}
.sectiontrois .sectiontrois-div-bloctotal .sectiontrois-div-bien{
	width: 100%;
	height: 50%;
}
.sectiontrois .sectiontrois-div-bloctotal{
	grid-column-start: 2; 
	grid-column-end: 3;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	
}
.sectiontrois .sectiontrois-div-bloctotal .sectiontrois-div-bien{
	z-index:1;
}
.sectiontrois .sectiontrois-div-bloctotal .sectiontrois-div-blocun .sectiontrois-div-cle{
	padding-left:35%;
	padding-right:20%;
	z-index:2;
	margin-top:-12%
}
.sectiontrois .sectiontrois-div-bloctotal .sectiontrois-div-blocdeux .sectiontrois-div-slt{
	padding-left:35%;
	padding-right:20%;
	z-index:2;
	margin-top:-12%
}
.sectiontrois .sectiontrois-div-bloctotal .sectiontrois-div-bloctrois .sectiontrois-div-dem{
	padding-left:35%;
	padding-right:20%;
	z-index:2;
	margin-top:-12%
}
.sectiontrois .sectiontrois-div-bloctotal p{
	text-align:center;
}

/*mise en forme du pied de page*/

.footer{
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
}
.footer hr{
	width: 10%;
	background-color: rgb( 130, 0, 0 );
	height: 1%;
	margin-left:0%;
}
.footer .footer-row-un{
	grid-column-start: 2; 
	grid-column-end: 3;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.footer .footer-row-un p{
	text-align:left;
}

.footer .footer-row-un .footer-row-un-col-1{
	grid-column-start: 1; 
	grid-column-end: 2;
}

.footer .footer-row-un .footer-row-un-col-2{
	grid-column-start: 2; 
	grid-column-end: 3;
}

.footer .footer-row-un .footer-row-un-col-2 .footer-row-un-col-2-dekra{
	margin-bottom: 5%;
	
}
.footer .footer-row-un .footer-row-un-col-2 .footer-row-un-col-2-gan{
	
	
}

.footer .footer-row-deux{
	grid-column-start: 2; 
	grid-column-end: 3;
	display:grid;
	grid-template-columns: repeat(3, 1fr);
}
.footer .footer-row-deux .footer-row-deux-col-1{
	display:grid;
	grid-template-columns: repeat(2, 1fr);
}
/*
.footer .footer-row-deux .footer-row-deux-col-1 .footer-row-deux-col-1-imgcont{
	grid-column-start: 1; 
	grid-column-end: 2;
	grid-row-start: 1; 
	grid-row-end: 2;
}
.footer .footer-row-deux .footer-row-deux-col-1 .footer-row-texte-deux-col-1{
	grid-column-start: 1; 
	grid-column-end: 2;
	grid-row-start: 1; 
	grid-row-end: 2;
}*/
.footer .footer-row-deux .footer-row-deux-col-2{
	display:grid;
	grid-template-columns: repeat(2, 1fr);
}
.footer .footer-row-deux .footer-row-deux-col-3{
	display:grid;
	grid-template-columns: repeat(2, 1fr);
}
.footer .footer-row-trois{
	grid-column-start: 2; 
	grid-column-end: 4;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.footer .footer-row-trois .footer-row-trois-cprgth{
	grid-column-start: 1; 
	grid-column-end: 2;
}

.footer .footer-row-trois .footer-row-trois-arobiz{
	grid-column-start: 2; 
	grid-column-end: 3;
}


